span {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 0.3rem;
  margin-left: 15px;
}

button {
  border: 0px;
  text-align: center;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#align{
  display: flex;
  align-items: center;
}

mat-icon{
  padding-top: 4px;
}
#logout{
padding: 0px;;
}