<mat-card>
  <mat-card-content>
    <mat-toolbar id="peso-fonte">Informe os dados para a inclusão</mat-toolbar>
    <div>
      <form [formGroup]="form" (ngSubmit)="vacationAdd()">
        <mat-form-field
          class="half-width start-end"
          [hideRequiredMarker]="true"
        >
          <mat-label>Funcionário</mat-label>
          <mat-select
            formControlName="registration"
            style="font-family: Montserrat"
          >
            <mat-option
              *ngFor="let registration of registrations"
              [value]="registration.registration"
            >
              {{ registration.name }} - {{ registration.registration }} -
              {{ registration.admission }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field
        class="half-width"
        [hideRequiredMarker]="true"
        >
          <mat-label>Data do início</mat-label>
          <input
            id="startDate"
            style="font-family: Montserrat"
            matInput
            placeholder="Data de Início"
            [inputMask]="dateInputMask"
            type="text"
            formControlName="startVacation"
          />
        </mat-form-field>

        <mat-form-field class="half-width start-end" [hideRequiredMarker]="true">
          <mat-label>Data do término</mat-label>
          <input
            style="font-family: Montserrat"
            matInput
            placeholder="Data de término"
            [inputMask]="dateInputMask"
            type="text"
            formControlName="endVacation"
          />
        </mat-form-field>
        <mat-form-field
        class="half-width"
        [hideRequiredMarker]="true"
        >
          <mat-label>Data limite</mat-label>
          <input
            style="font-family: Montserrat"
            matInput
            placeholder="Data limite"
            [inputMask]="dateInputMask"
            type="text"
            formControlName="limit"
          />
        </mat-form-field>
        <mat-form-field class="half-width start-end" [hideRequiredMarker]="true">
          <mat-label for="intprop">Período aquisitivo</mat-label>
          <mat-select
            style="font-family: Montserrat"
            id="intprop"
            class="select"
            aria-label="Período aquisitivo"
            placeholder="Período aquisitivo"
            name="period"
            formControlName="period"
          >
          <mat-option selected value="2020/2021">2021/2022</mat-option>
          <mat-option selected value="2021/2022">2021/2022</mat-option>
            <mat-option selected value="2022/2023">2022/2023</mat-option>
            <mat-option selected value="2023/2024">2023/2024</mat-option>
            <mat-option selected value="2024/2025">2024/2025</mat-option>
            <mat-option selected value="2025/2026">2025/2026</mat-option>
            <mat-option selected value="2026/2027">2026/2027</mat-option>
            <mat-option selected value="2027/2028">2027/2028</mat-option>
            <mat-option selected value="2028/2029">2028/2029</mat-option>
            <mat-option selected value="2029/2030">2029/2030</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width" [hideRequiredMarker]="true">
          <mat-label for="intprop">Int/Prop</mat-label>
          <mat-select
            style="font-family: Montserrat"
            id="intprop"
            class="select"
            aria-label="Int/Prop"
            placeholder="Int/Prop"
            name="intprop"
            formControlName="intprop"
          >
            <mat-option selected value="Int">Int</mat-option>
            <mat-option selected value="Prop">Prop</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width start-end" [hideRequiredMarker]="true">
          <mat-label for="purchasing">Período</mat-label>
          <mat-select
            style="font-family: Montserrat"
            id="purchasing"
            class="select"
            aria-label="Período"
            placeholder="Período"
            name="purchasing"
            formControlName="purchasing"
          >
            <mat-option selected value="1º Per">1º Per</mat-option>
            <mat-option selected value="2º Per">2º Per</mat-option>
            <mat-option selected value="3º Per">3º Per</mat-option>
            <mat-option selected value="Único">Único</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label for="sell">Vendeu 1/3?</mat-label>
          <mat-select
            style="font-family: Montserrat"
            id="sell"
            class="select"
            aria-label="Vendeu 1/3?"
            placeholder="Vendeu 1/3?"
            name="sell"
            formControlName="sell"
          >
            <mat-option selected value="Sim">Sim</mat-option>
            <mat-option selected value="Não">Não</mat-option>
            <mat-option selected value="N/A">N/A</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Observações</mat-label>
          <textarea
            style="font-family: Montserrat"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            placeholder="Observações"
            type="text"
            formControlName="observation"
          ></textarea>
        </mat-form-field>
        <mat-card-actions>
          <div class="container">
            <button
              id="button-ferias"
              name="vacation"
              mat-raised-button
              type="submit"
            >
              Salvar
            </button>
            <button
              mat-raised-button
              (click)="onClear()"
              id="button-cancel"
              name="cancelar"
              type="button"
            >
              Limpar
            </button>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
</mat-card>
