
.full-width {
  width: 100%;
}

mat-card-actions {
  padding: 0%;
}

mat-toolbar,
button {
  margin-bottom: 1em;
}

#peso-fonte {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Montserrat;
  background: #1e293b;
  letter-spacing: 0.2rem;
  color: #94a3b8;
}

#button-usuario{
  width: 20%;
  font-size: 1rem;
  background: #1e293b;
  color: #94a3b8;
  font-weight: 400;
  font-family: Montserrat;
  margin: 0px 15px 0px 0px;
  letter-spacing: 0.2rem;
}
#button-cancel{
  width: 20%;
  font-size: 1rem;
  background: white;
  font-weight: 300;
  font-family: Montserrat;
  margin: 0px 15px 0px 0px;
}

