<mat-card>
  <mat-card-content>
    <mat-toolbar id="peso-fonte"
      >Funcionários
      <a (click)="onCreateUser()"
        ><mat-icon>person_add</mat-icon></a
      ></mat-toolbar
    >

    <div *ngIf="dataSource$ | async; else loading">
      <table
        mat-table
        [dataSource]="dataSource$ | async"
        class="mat-elevation-z8"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Funcionário</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="registration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Matrícula</th>
          <td mat-cell *matCellDef="let element">{{ element.registration }}</td>
        </ng-container>

        <!-- Birthday Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef>Aniversário</th>
          <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <a (click)="onUpdateUser(element.id)"><mat-icon>edit</mat-icon></a>
            <a (click)="onDeleteEmployee(element.id)"
              ><mat-icon>delete</mat-icon></a
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!--
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Nenhum registro encontrado para esse filtro "{{ input.value }}"
          </td>
        </tr> -->
      </table>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <div id="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
