#peso-fonte {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Montserrat;
  background: #1e293b;
  color: #94a3b8;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  a {
    padding-top: 8px;
    color: #94a3b8;
    cursor: pointer;
  }
}

th, td, .montserrat{
  font-family: Montserrat;
}

#loading-spinner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f5f5f5;
}
#justify{
display: flex;
justify-content: space-between;
}

a {
  padding-top: 8px;
  cursor: pointer;
}
