<mat-card>
  <mat-card-content>
    <mat-toolbar id="peso-fonte">{{ header }}</mat-toolbar>
    <div *ngIf="dataSource$ | async; else loading" id="table-container">
      <table
        mat-table
        [dataSource]="dataSource$ | async"
        class="mat-elevation-z8"
      >
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container> -->
        <ng-container matColumnDef="registration">
          <th mat-header-cell *matHeaderCellDef>Matrícula</th>
          <td mat-cell *matCellDef="let element">{{ element.registration }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Funcionário</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="office">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let element">{{ element.office }}</td>
        </ng-container>
        <ng-container matColumnDef="admission">
          <th mat-header-cell *matHeaderCellDef>Admissão</th>
          <td mat-cell *matCellDef="let element">{{ element.admission }}</td>
        </ng-container>
        <ng-container matColumnDef="purchasing">
          <th mat-header-cell *matHeaderCellDef>Período</th>
          <td mat-cell *matCellDef="let element">{{ element.purchasing }}</td>
        </ng-container>
        <ng-container matColumnDef="startVacation">
          <th mat-header-cell *matHeaderCellDef>Data de início</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startVacation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="endVacation">
          <th mat-header-cell *matHeaderCellDef>Data do término</th>
          <td mat-cell *matCellDef="let element">{{ element.endVacation }}</td>
        </ng-container>
        <ng-container matColumnDef="limit">
          <th mat-header-cell *matHeaderCellDef>Data Limite</th>
          <td mat-cell *matCellDef="let element">{{ element.limit }}</td>
        </ng-container>
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef>Dias</th>
          <td mat-cell *matCellDef="let element">{{ element.days }}</td>
        </ng-container>
        <ng-container matColumnDef="intprop">
          <th mat-header-cell *matHeaderCellDef>Int/Prop</th>
          <td mat-cell *matCellDef="let element">{{ element.intprop }}</td>
        </ng-container>
        <ng-container matColumnDef="sell">
          <th mat-header-cell *matHeaderCellDef>Vendeu 1/3?</th>
          <td mat-cell *matCellDef="let element">{{ element.sell }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <a (click)="onUpdateVacation(element.id)"
              ><mat-icon>edit</mat-icon></a
            >
            <a (click)="onDeleteVacation(element.id)"
              ><mat-icon>delete</mat-icon></a
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <div id="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
