<mat-drawer-container>
  <mat-drawer mode="side" opened="{{ isOpened }}">
    <mat-nav-list>
      <div>
        <h1 class="mt-2">GARBO</h1>
      </div>
      <mat-divider></mat-divider>

      <h5 class="mt-4">OPÇÕES</h5>
      <div id="align-list">
        <mat-icon>beach_access</mat-icon>
        <a (click)="onVacationCreate(vacationCreate)" routerLinkActive="list-item-active"
          >ADICIONAR FÉRIAS</a
        >
      </div>

      <!--**************************************************************************-->
      <div id="align-list">
        <mat-icon>perm_contact_calendar</mat-icon>
        <a (click)="onSearchEmployee()" routerLinkActive="list-item-active"
          >FÉRIAS DO FUNCIONÁRIO</a
        >
      </div>
      <div id="align-list">
        <mat-icon>date_range</mat-icon>
        <a (click)="onSearchEmployee()" routerLinkActive="list-item-active"
          >FÉRIAS DO MÊS</a
        >
      </div>
      <div id="align-list">
        <mat-icon>calendar_month</mat-icon>
        <a (click)="onSearchEmployee()" routerLinkActive="list-item-active"
          >FÉRIAS DO ANO</a
        >
      </div>
          <!--**************************************************************************-->

      <div id="align-list">
        <mat-icon>group</mat-icon>
        <a
          (click)="onEmployeesList(employeeList)"
          routerLinkActive="list-item-active"
          >FUNCIONÁRIOS</a
        >
      </div>
      <div id="align-list">
        <mat-icon> manage_accounts </mat-icon>
        <a (click)="onUsersList(users)" routerLinkActive="list-item-active"
          >USUÁRIOS</a
        >
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (closeSidenav)="onOpened()"></app-header>
    <div class="background">
      <div class="title">
        <span>{{ titleName }}</span>
        <div *ngIf="gender === 'Masculino'; else female">
          <span>Bem vindo, {{ titleUser }}</span>
        </div>
        <ng-template #female
          ><span>Bem vinda, {{ titleUser }}</span></ng-template
        >
      </div>

      <div class="main" *ngIf="typeName === ''"></div>
      <div class="main" *ngIf="typeName === 'main'"></div>
      <div class="main" *ngIf="typeName === 'vacationCreate'">
        <app-vacation-create
          (typeList)="onVacationCreate($event)"
          style="width: 50%"
        ></app-vacation-create>
      </div>
      <div class="main" *ngIf="typeName === 'vacationUpdate'">
        <app-vacation-update
          (typeList)="onVacationUpdate($event)"
          style="width: 50%"
        ></app-vacation-update>
      </div>
      <div class="main" *ngIf="typeName === 'vacationList'">
        <app-vacation-list
        (type)="onType($event)"
          style="width: 50%"
        ></app-vacation-list>
      </div>

      <div class="main" *ngIf="typeName === 'employeeCreate'">
        <app-employees-create
          (typeList)="onUpdateAllType($event)"
          style="width: 50%"
        ></app-employees-create>
      </div>
      <div class="main" *ngIf="typeName === 'employeeUpdate'">
        <app-employees-update
          [employeeUpdate]="employeeUpdate"
          (typeList)="onEmployeesUpdate($event)"
          style="width: 50%"
        ></app-employees-update>
      </div>
      <div class="main" *ngIf="typeName === 'employeeList'">
        <app-employees-list
          (type)="onType($event)"
          (employeeEmit)="onEmployeesList($event)"
          style="width: 50%"
        ></app-employees-list>
      </div>

      <div class="main" *ngIf="typeName === 'userCreate'">
        <app-user-create
          (typeList)="onUpdateAllType($event)"
          style="width: 50%"
        ></app-user-create>
      </div>
      <div class="main" *ngIf="typeName === 'userUpdate'">
        <app-user-update
          [userUpdate]="userUpdate"
          (typeList)="onUsersList($event)"
          style="width: 50%"
        ></app-user-update>
      </div>
      <div class="main" *ngIf="typeName === 'userList'">
        <app-user-list
          (type)="onType($event)"
          (userEmit)="onVacationUpdate($event)"
          style="width: 50%"
        ></app-user-list>
      </div>
      <div class="main" *ngIf="typeName === 'search'">
        <app-search
          (searchTypeName)="onTypeList($event)"
          style="width: 50%"
        ></app-search>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
