.main {
  margin-top: -25px;
  margin-left: 1%;
  width: 98%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  min-height: 87%;
  background: white;
  padding-top: 40px;
  padding-bottom: 20px;
}

.title {
  padding-top: 1.7rem;
  height: 100px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
}

span {
  font-family: Montserrat;
  margin-left: 30px;
  color: #94a3b8;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.background {
  width: 100%;
  height: 116%;
  padding: 0%;
  background: rgb(230, 228, 228);
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background: #0f172a;
  background-image: url("https://www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png");
}

mat-drawer-container {
  height: 100%;
}
mat-drawer-content {
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: Montserrat;
  font-weight: 300;
  color: #94a3b8;
  padding-top: 3px;
  cursor: pointer;
}
mat-divider {
  border-top-width: 1px;
  border-color: #94a3b8;
}

h1 {
  text-align: center;
  letter-spacing: 1rem;
  color: #94a3b8;
  font-weight: 300;
  font-family: Montserrat;
}
h5 {
  font-family: Montserrat;
  margin: 25px 0px 12px 22px;
  font-weight: 500;
  color: #94a3b8;
  letter-spacing: 0.3rem;
}

#align-list {
  display: flex;
  align-items: center;
  color: #94a3b8;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: rgba($color: #f5f4f4, $alpha: 0.05);
  padding: 10px;
}
.mat-icon {
  margin-right: 10px;
}
.search {
  margin: 0px 20px 20px 20px;
  background-color: rgba($color: #f5f4f4, $alpha: 0.05);
  padding: 3px 0px 20px 20px;
  button {
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 4px 62px 4px 62px;
    font-size: 0.8rem;
  }
}

.textLabel {
  width: 100%;
  font-family: Montserrat;
  color: #94a3b8;
  margin-top: 12px;
  margin-bottom: 3px;
}

input {
  width: 90%;
  font-size: 0.8rem;
  height: 30px;
  padding-left: 10px;
  color: #111111;
  border: none;
  background-color: rgba(rgb(255, 251, 251), $alpha: 0.65);
}
.select {
  width: 90%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  margin-bottom: 3px;
  background-color: rgba(rgb(255, 251, 251), $alpha: 0.65);
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0%;
  border: none;
}

